.img-sobremesa {
  border-radius: 10px;
  width: 100%;
  margin: 5px 0;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.product-card {
  list-style: none;
  position: relative;
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 170px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid #d85527;
  cursor: pointer;
  background-color: #ffffff;
  position: absolute;
  bottom:  70px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}

.add-to-cart img {
  background-color: transparent;
}

.add-to-cart:hover {
  background-color: #d85527;
  color: #ffffff;
  transition: all 0.3s ease;
}

.cart-item {
  padding: 12px 0;

}

.quantity-controller {
  width: 170px;
  height: 50px;
  background-color: #d85527;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}

.quantity-controller button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}

.quantity-controller span {
  color: #ffffff;
  font-weight: 600;
}

.checkout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border-radius: 30px;
  border: 2px solid #d85527;
  cursor: pointer;
  background-color: #ffffff;
  box-sizing: border-box;
  margin-top: 20px
}

.checkout-btn:hover {
  background-color: #d85527;
  color: #ffffff;
  transition: all 0.3s ease;
}

.cart-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  font-size: 18px;
}

.cart-total strong {
  color: #d85527;
}

.cart-footer {
  margin-top: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
}

.hidden {
  display: none;
}

.order-modal {
  width: 500px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 32px;
}

.order-modal h2 {
  color: #d85527;
  margin-bottom: 10px;
}

.modal-subtitle {
  margin-bottom: 24px;
  color: #666;
}

.modal-item {
  padding: 12px 0;
}

.modal-total {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid #ddd;
  font-family: "Rubik", sans-serif;
}

.new-order-btn {
  width: 100%;
  height: 50px;
  margin-top: 24px;
  border: none;
  border-radius: 999px;
  background-color: #d85527;
  color: #ffffff;
  cursor: pointer;
}