* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcf0f0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  gap: 32px;
  align-items: flex-start;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;
}

.title {
  font-size: 2em;
  color: #000000;
  margin-top: 25px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.subtitle {
  font-size: 1.25em;
  color: #d85527;
  margin-top: 10px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.price {
  font-size: 1em;
  color: #d85527;
  margin-top: 10px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.description {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.products-section {
  flex: 1;
}

.cart {
  width: 350px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
  border-radius: 12px;
  min-height: 300px;
  position: sticky;
  top: 20px;
  margin-top: 25px;
}

.cart-title {
  color: #d85527;
  font-family: "Rubik", sans-serif;
  margin-bottom: 20px;
}


